{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
        

      }
    }
  ],
  "endOfLine": "auto"
}
